<% provide(:page_title, 'New Slot') %>
  <div id="container">
    <div class="page-header">
      <h2>I GOT TALENT <small>NEW TIME SLOT</small></h2>
    </div>
      
  <P>Add new time slot for an <em>I Got Talent</em> event.</P>

  <%= render 'form' %>

  <%= link_to 'Back', slots_path %>
</div>