<% provide(:page_title, 'Edit Slot') %>
<div id="container">
  <div class="page-header">
    <h1>I GOT TALENT <small>Share Video (<%= @slot.start_time %>)</small></h1>
  </div>

  <P>Showcase your video in <em>I Got Talent</em> event.</P>

  <%= render 'videos/form' %>

  <%= link_to 'Show', @slot %> |
  <%= link_to 'Cancel', video_path(@video), method: :delete %>
</div>