<div id="container">
  <div class="page-header">
    <h1>I GOT TALENT <small>Editing <span style="font-style: italic;"><%= current_user.name %></span>'s profile</small></h1>
  </div>

  <%= render 'form' %>

  <%= link_to 'Show', '/profile' %> |
  <%= link_to 'Back', '/profile' %>

</div>