<% provide(:page_title, 'UPLOAD VIDEO') %>
<div id="container">
  <div class="page-header">
    <h1>I GOT TALENT <small>upload video</small></h1>
  </div>

  <label for="basic-url">Video URL</label>

  <div class="dropdown" id="dropdownVideoSource">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuVideoSource" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Video Location
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuVideoSource">
      <li><a data-video-source="youtube" href="#">YouTube</a></li>
      <li><a data-video-source="vimeo" href="#">Vimeo</a></li>
      <li><a data-video-source="other" href="#">Somewhere online</a></li>
      <li><a data-video-source="mycomputer" href="#">My computer</a></li>
    </ul>
  </div>

  <div class="input-group" style="margin-top: 10px;">
    <span class="input-group-addon" id="basic-addon3">@</span>
    <input type="text" class="form-control" id="video-url" aria-describedby="basic-addon3">
  </div>
</div>

