<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to I Got Talent XXX!</title>
</head>
<body>
<nav id="mainMenu">
    <ul class="nav nav-pills">
        <li role="presentation" class=""><a href="/slots">Home</a></li>
        <li role="presentation" class="" style="text-align: rig"><a href="/videos">Queue</a></li>
        <li role="presentation" class="" style="float: right;"><%= link_to '', current_user, class: 'glyphicon glyphicon-user' %> </li>
        <li role="presentation" class="" style="float: right;"><%= link_to current_user.name, current_user %> </li>
    </ul>
</nav>
<p>HOME PAGE!</p>
</body>
</html>