<% provide(:page_title, 'Edit User') %>
<div id="container">
  <div class="page-header">
    <h1>I GOT TALENT <small>Edit User</small></h1>
  </div>

  <h1>Editing User</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>

</div>