<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome to I Got Talent</title>
</head>

<body>

    <div class="container">

        <!--
      Below we include the Login Button social plugin. This button uses
      the JavaScript SDK to present a graphical Login button that triggers
      the FB.login() function when clicked.
    -->

        <div style="text-align: center;">
            <h4>Share your talent with millions <strong style="color: green;">NOW!</strong></h4>
            
            <div style="vertical-align: center; margin-bottom: 20px;">
                <h4 style="font-style: italic; display: inline-block;">I Got Talent <span class="glyphicon glyphicon-copyright-mark"></span> </h4>
                <!--<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" data-size="large" autologoutlink=true >-->
                <!--</fb:login-button>-->
                <!--<a class="fb-login-button" data-size="large" href="/?fb_login=true">Log In X</a>-->
              <div style="width: 260px; margin: 0 auto;">
                <a href="/login_fb" class="btn btn-lg btn-block btn-social btn-facebook">
                  <span class="fa fa-facebook"></span> Sign in with Facebook
                </a>
              </div>
              <% if flash[:error] %>
                  <div class="alert alert-danger" style="width: 400px; margin: 10px auto;">
                    <%= flash[:error] %>
                  </div>
              <% end %>
            </div>
            
            <div>
                <iframe width="580" height="330" src="<%= " https://www.youtube.com/embed/#{youtube_video_id_of(@featured_video)} " %>" class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
            </div>
            
            <div>
                <div>
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    <!--<button type="button" class="btn btn-success btn-xs">Like</button>-->
                    <small style="color: green;"><%= Like.like_count(@featured_video.id) %> liked this</small>
                    <small>...</small>
                    <small style="color: red;"><%= Like.dislike_count(@featured_video.id) - 950 %> disliked</small>
                    <!--<button type="button" class="btn btn-danger btn-xs">Dislike</button>-->
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                </div>
            </div>

        </div>
    </div>

    <div id="status">
    </div>

    </div>


</body>

</html>