<% provide(:page_title, 'New Video') %>
  <div id="container">
    <div class="page-header">
      <h1>I GOT TALENT <small>New Video</small></h1>
    </div>

  <h1>New Video</h1>

  <%= render 'form' %>

  <%= link_to 'Back', videos_path %>
</div>