<!DOCTYPE html>
<html>
<head>
  <title>Igottalent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-signin-client_id" content="43709856247-db6jvrb06ll0mk26070bispgvmcn7s1a.apps.googleusercontent.com">
</head>
<body>

<%= yield %>

</body>
</html>
